.auth-form {
	width: 40rem;
	max-width: 80%;
	margin: 5rem auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.auth-form > * {
	flex-grow: 1;
	width: 100%;
}

.form-group {
	margin-bottom: 1rem;
}

.form-group label,
.form-group input {
	width: 100%;
	display: block;
}

.form-group label {
	margin-bottom: 0.5rem;
}

.form-group input {
	padding: 0.5rem 1rem;
	border-radius: 3px;
	outline: none;
	border: 1px solid #049e9e;
}

.form-group input:focus,
.form-group input:active {
	box-shadow: 0 0 2px 3px rgba(1, 209, 209, 0.4);
}
