@import url('../node_modules/react-toastify/dist/ReactToastify.css');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: sans-serif;
}

.main-content {
	margin: 4rem;
}

.btn {
	padding: 0.5rem 1rem;
	margin: 0 0.25rem;
	border-radius: 3px;
	font: inherit;
	cursor: pointer;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
}

.btn:focus {
	outline: none;
}

.btn-primary {
	color: #fff;
	background-color: #01d1d1;
	border: 1px solid #01d1d1;
}

.btn-primary:hover {
	background-color: #049e9e;
	border: 1px solid #049e9e;
}

.ctas .btn:first-child {
	margin-left: 0;
}

.ctas .btn:last-child {
	margin-right: 0;
}

.d-flex {
	display: flex;
}

.justify-content-center {
	justify-content: center;
}

.justify-self-end {
	justify-self: flex-end;
}

.border {
	border: 1px solid #01d1d1;
}

.margin-left-auto {
	margin-left: auto;
}

.flex-column {
	flex-direction: column;
}

.align-items-center {
	align-items: center;
}

.ReactModal__Overlay {
	background-color: rgba(0, 0, 0, 0.24) !important;
}

.ReactModal__Content.ReactModal__Content--after-open {
	width: calc(100% - 4rem);
	max-width: 30rem;
	padding: 1rem;
	border-radius: 3px;
}

.ReactModal__Content.ReactModal__Content--after-open .header {
	background-color: #01d1d1;
	padding: 1rem 0.5rem;
	color: #fff;
	margin-bottom: 1rem;
	border-radius: 3px;
}

.ReactModal__Content.ReactModal__Content--after-open .footer {
	display: flex;
	justify-content: flex-end;
}

.view-event-content h1 {
	text-transform: capitalize;
	font-size: 1.4rem;
	margin-bottom: 1rem;
}

.view-event-content h2 {
	font-size: 1rem;
	margin-bottom: 1rem;
}

.bookings {
	margin: 0;
	padding: 0;
}

.bookings .booking {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.5rem auto;
	padding: 0.5rem;
	width: 40rem;
	max-width: 90%;
	border: 1px solid #01d1d1;
}
